[run]
branch = True
source = backend
omit =
	*/tests/*
	*/.venv/*
	*/venv/*
	*/site-packages/*

[report]
show_missing = True
skip_covered = False
fail_under = 85

[paths]
source =
	backend

[html]
directory = htmlcov
